{% extends "base.html" %}

{% load static %}

{% block title %}Personal Notebook{% endblock %}

{% block body %}
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">&nbsp;&nbsp;Notes &nbsp;&nbsp;</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/accounts/register/">Register</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

     <div class="container marketing">

    <div class="jumbotron">
      <div class="container">
        <h1>Notes</h1>
        <p>This is a simple notes app. Here you can add your notes to access it anywhere.</p>
        <p><a class="btn btn-primary btn-lg" href="/accounts/login/">Login Here &raquo;</a></p>
      </div>
    </div>
{% endblock %}
